# Ignorer tous les fichiers target
target/
!target/*.jar

# Ignorer les fichiers Maven/Gradle inutiles
.mvn/
*.iml
*.ipr
*.iws
*.project
*.classpath
.gradle/
.build/

# Ignorer les fichiers IDE
.idea/
*.xml
*.vscode/

# Ignorer les fichiers NetBeans
nbproject/
dist/
nbbuild/

# Fichiers spécifiques à Spring
.apt_generated
.factorypath
.settings/
.springBeans/
.sts4-cache/

# Ignorer les fichiers de logs et temporaires
*.log
*.tmp
*.bak
